<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/pic3.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">

            {{>header}}

        <p>Web Page Test</p>
        <img class="portrait" src="/img/CARAIBI.jpg">
        </div>
        
        <p>{{>footer}}</p>
    
    </body>

</html>